<!-- Heading Row -->
<div class="row align-items-center">
  <div class="col-lg-4">
    <img class="img-fluid rounded mb-4 mb-lg-0" src="../assets/location_search.svg" alt="">
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-lg-8">
    <h1 class="font-weight-light">Api Cluster</h1>
    <p>
      Search for you api data. Find collaborating data sources, for your app.
      Join to the thousands of collaborators who exposed their data, normalize it, and hand that to you
    </p>
    <a class="btn btn-purple text-white">Share with us</a>
  </div>
  <!-- /.col-md-4 -->
</div>
<!-- /.row -->

<!-- Call to Action Well -->
<div class="card text-white shadow-lg bg-dark my-5 py-4 text-center">
  <div class="card-body">

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Find your api...">
      <button class="btn btn-purple text-white" type="button" id="button-addon1">Search</button>
    </div>
    <p class="text-white m-0"></p>
  </div>
</div>